NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=76961729881-oaec897h8tshgs511etc8ssskb0mvk21.apps.googleusercontent.com
GOOGLE_MAPS_API_KEY=
AUTH_SESSION_SECRET=change-this-before-deploy
ADMIN_EMAIL_ALLOWLIST=galinagamintoja@gmail.com
LOCALPRO_SEED_MODE=false
